body{display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    font-weight: bolder;
    font-size: xx-large;
}
.Template{
    background-color: #EB70FF;
    width: 90%;
    max-width: 550px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px;
    font-size: xx-large;
}
.first{display: flex;
        align-items: center;
        max-width: 600px;
        flex-direction: row;
        margin: 20px;
        padding: 30px;
        gap: 20px;  
        background-color: #F6C0FF
    }
#firstpart{display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: x-large;
    
}
.second{display: flex;
    align-items: center;
    max-width: 600px;
    flex-direction: row-reverse;
    margin: 20px;
    padding: 30px;
    gap: 20px;  
    background-color: #DEFFFD;
}
.img{width: 100%;}
.try{padding: 10px;
    border-radius: 5px;}
.customize{
    margin: 0;
    font-size: xx-large;
    font-weight: bolder;
}
.text{
    text-align: center;
}
.texto{
    font-size: large;
    text-align: center;
}
.Boost{max-width: 600px;
    font-size: larger;
    margin: 20px;
}
.footer{
    display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 460px;
}
.container{
    display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
}
hr{border: 1px solid black;
    width: 60%;}
@media (max-width: 600px){
   
    .first{ flex-direction: column;
        align-items: center;}
    .second{ flex-direction: column;
            align-items: center;}
}